/* --- lukehler v0.1.0 --- */

/*
 *	Core lootstrap
 */
/*	********************************
 *	LOOTSTRAP ELEMENTS
 *	********************************
 */
* {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media screen and (min-width: 960px) {
  html {
    font-size: 78.125%;
  }
}
body {
  position: relative;
  min-height: 100%;
  background-color: #fff;
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
p {
  padding-bottom: 2.4rem;
}
small,
sub,
sup {
  font-size: 1.2rem;
  line-height: 1;
}
em,
cite,
i {
  font-style: italic;
}
strong,
var,
b {
  font-weight: 700;
}
q:before {
  content: "'";
}
q:after {
  content: "'";
}
q > q {
  font-style: italic;
}
dfn,
abbr {
  border-bottom: 1px dotted #3a3936;
  cursor: default;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}
h1,
h2,
h3 {
  line-height: 4.8rem;
  padding-top: 0.8rem;
  padding-bottom: 1.6rem;
}
h4,
h5,
h6 {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.6rem;
}
h1 > a {
  text-decoration: none;
  color: inherit;
}
h1 > a:hover {
  color: inherit;
}
a {
  color: #d70;
}
a:hover,
a:focus,
a:active {
  color: #07a;
  text-decoration: underline;
}
ol,
ul {
  margin-left: 2rem;
  padding: 0 0 2.4rem;
}
ol ol,
ol ul,
ul ol,
ul ul {
  padding-bottom: 0;
}
ol {
  list-style-type: decimal;
}
ul {
  list-style-type: square;
}
dt {
  font-style: italic;
}
dd {
  padding-left: 2rem;
}
img,
video {
  max-width: 100%;
  display: block;
}
figure {
  margin: 0 auto;
  padding-bottom: 2.4rem;
}
figure img {
  display: block;
  margin: 0 auto;
}
caption,
figcaption {
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}
blockquote {
  margin: 0 0 2.4rem;
  border-left: 4px solid #d70;
  padding: 1.2rem 1.2rem 1.2rem 2.4rem;
  color: #201f1d;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
}
blockquote > :last-child {
  padding-bottom: 0;
}
blockquote cite,
blockquote footer {
  font-size: 1.2rem;
  font-style: italic;
}
blockquote cite:before,
blockquote footer:before {
  content: "— ";
}
pre,
code,
samp,
kbd {
  color: #201f1d;
  background-color: #e1e1e1;
  font-size: 1.2rem;
  font-family: Consolas, Courier, monospace;
  line-height: 1;
  overflow-y: hidden;
  overflow-x: auto;
}
code,
samp,
kbd {
  padding: 0.4rem 0.4rem 0.2rem;
}
pre {
  line-height: 2.4rem;
  padding: 1.2rem 1.2rem;
  margin: 0 0 2.4rem;
}
pre code,
pre samp,
pre kbd {
  background-color: transparent;
  border: none;
  padding: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 2.4rem;
  width: 100%;
  background-color: #fff;
  max-width: 100%;
  overflow-x: auto;
}
th {
  font-weight: 400;
  text-align: left;
}
th,
td {
  padding: 1.2rem 0.6rem;
  border-top: 1px solid #c8c8c8;
  line-height: calc(2.4rem - 1px);
}
th + th,
th + td,
td + th,
td + td {
  border-left: 1px solid #c8c8c8;
}
th > :last-child,
td > :last-child {
  padding-bottom: 0;
}
input,
label,
select,
button,
textarea {
  display: block;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* remove yellow from chrome auto-fill background */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  color: #3a3936;
  -webkit-text-fill-color: #3a3936;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
label {
  color: #07a;
}
.radio [disabled],
.checkbox [disabled],
.textfield [disabled] {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}
.radio [disabled] + *,
.checkbox [disabled] + *,
.textfield [disabled] + * {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}
.select [disabled],
[type=button][disabled],
[type=submit][disabled],
button[disabled] {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}
.textfield,
.select {
  background-color: #fff;
  display: block;
  margin-bottom: 2.4rem;
  position: relative;
}
.textfield-label,
.select-label {
  font-size: 1.2rem;
  position: absolute;
  line-height: 1;
  padding: 0.3rem 0.6rem;
  border: 1px solid transparent;
  top: 0;
}
.textfield input,
.select input,
.textfield textarea,
.select textarea,
.textfield select,
.select select {
  background-color: transparent;
  border: 1px solid #3a3936;
  box-sizing: border-box;
  padding: 1.8rem 0.6rem 0.6rem;
  position: relative;
  width: 100%;
}
.textfield *:focus,
.select *:focus {
  border-color: #d70;
  box-shadow: 0 1px 2px 0 #e1e1e1 inset;
  outline: none;
}
.select select {
  height: 4.8rem;
}
.select option {
  font-size: 1.6rem;
  padding: 0 0.6rem;
}
.select:after {
  content: '';
  border-left: 6px solid transparent;
  border-left: .6rem solid transparent;
  border-right: 6px solid transparent;
  border-right: .6rem solid transparent;
  border-top: 6px solid #3a3936;
  border-top: 0.6rem solid #3a3936;
  height: 0;
  margin-top: -5px;
  margin-top: -0.5rem;
  position: absolute;
  right: 10px;
  right: 1rem;
  bottom: 13px;
  bottom: 1.3rem;
  width: 0;
}
.select select {
  z-index: 100;
}
.select option[disabled] {
  background-color: #e1e1e1;
  color: #3a3936;
}
.textfield {
  margin-top: -2px;
}
.radio,
.checkbox {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 2.4rem;
  padding: 0 1rem 0 2.25rem;
  position: relative;
}
.radio:before,
.checkbox:before {
  background-color: #fff;
  border: 2px solid #3a3936;
  content: '';
  height: 16px;
  left: 0;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  width: 16px;
}
.checkbox input[type=checkbox],
.radio input[type=radio] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.radio-label,
.checkbox-label {
  color: #3a3936;
  font-size: 1.2rem;
  line-height: 1;
}
.radio-label:after,
.checkbox-label:after {
  border: 1px solid transparent;
  content: '';
  height: 18px;
  left: 0;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  width: 18px;
}
.radio input[type=radio]:focus + .radio-label:after,
.checkbox input[type=checkbox]:focus + .checkbox-label:after {
  border-color: #d70;
  box-shadow: 0 1px 2px 1px #e1e1e1 inset;
}
.radio:before,
.radio .radio-label:after {
  border-radius: 24px;
  border-radius: 2.4rem;
}
.radio input[type=radio]:checked + .radio-label:before {
  content: '';
  position: absolute;
  height: 10px;
  height: 1rem;
  width: 10px;
  width: 1rem;
  left: 5px;
  left: 0.5rem;
  margin-top: -5px;
  margin-top: -0.5rem;
  top: 50%;
  background-color: #d70;
  border-radius: 24px;
  border-radius: 2.4rem;
}
@media screen and (min-width: 960px) {
  .radio input[type=radio]:checked + .radio-label:before {
    left: 3.2px;
    left: 0.32rem;
  }
}
.checkbox input[type=checkbox]:checked + .checkbox-label:after {
  color: #d70;
  content: '\2713';
  font-size: 20px;
  font-size: 2rem;
  line-height: 15px;
  line-height: 1.5rem;
  text-align: center;
}
hr {
  height: 4.8rem;
  margin-bottom: 0;
  position: relative;
}
hr:before {
  background-color: #c8c8c8;
  content: '';
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}
/*	********************************
 *	LOOTSTRAP CLASSES
 *	********************************
 */
.container,
.wrapper {
  position: relative;
  width: 100%;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin: 0 auto;
  *zoom: 1;
  clear: both;
}
.container:after,
.wrapper:after {
  content: "";
  *zoom: 1;
  clear: both;
  display: table;
}
@media screen and (min-width: 768px) {
  .container,
  .wrapper {
    max-width: 76.8rem;
  }
}
@media screen and (min-width: 960px) {
  .container,
  .wrapper {
    max-width: 76.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .container,
  .wrapper {
    max-width: 100.8rem;
  }
}
[disabled],
.disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}
.bg {
  background-color: #3a3936;
  color: #fff;
  padding: 1.2rem 1.2rem;
}
.bg > :last-child {
  padding-bottom: 0;
}
.bg-primary {
  background-color: #d70;
  color: #fff;
  padding: 1.2rem 1.2rem;
}
.bg-primary > :last-child {
  padding-bottom: 0;
}
.bg-secondary {
  background-color: #07a;
  color: #fff;
  padding: 1.2rem 1.2rem;
}
.bg-secondary > :last-child {
  padding-bottom: 0;
}
.bg-light {
  background-color: #e1e1e1;
  color: #3a3936;
  padding: 1.2rem 1.2rem;
}
.bg-light > :last-child {
  padding-bottom: 0;
}
.bg-inline {
  padding: 0.4rem 0.4rem 0.2rem;
}
@media screen and (max-width: 767px) {
  table.collapse tr,
  table.collapse th,
  table.collapse td {
    display: block;
    border-left: 0;
    border-top: 0;
    line-height: 2.4rem;
  }
  table.collapse tr {
    border-top: 1px solid #c8c8c8;
    margin-top: -1px;
  }
}
.embed-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  overflow-y: visible;
  padding-bottom: 75%;
}
.embed-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .embed-wrapper {
    padding-bottom: 36rem;
  }
}
@media screen and (min-width: 960px) {
  .embed-wrapper {
    padding-bottom: 45.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .embed-wrapper {
    padding-bottom: 60rem;
  }
}
.clearfix,
.cf,
.container,
.wrapper {
  *zoom: 1;
  clear: both;
}
.clearfix:after,
.cf:after {
  content: "";
  *zoom: 1;
  clear: both;
  display: table;
}
#top {
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 1px;
  width: 1px;
}
html {
  overflow-y: scroll;
}
@media screen {
  body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  body main {
    -ms-flex-positive: 1;
        flex-grow: 1;
  }
  body main > .wrapper {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }
}
a {
  transition-property: background, color, border-color;
  transition-duration: 0.3s;
}
h3 {
  padding-top: calc(0.8rem - 1px);
  border-top: 1px solid #c8c8c8;
  margin-top: 1.2rem;
}
h4 {
  padding-top: 0;
}
h4 span {
  display: block;
  float: right;
}
main a {
  text-decoration: none;
  border-bottom: 1px dashed #07a;
}
main a:hover {
  text-decoration: none;
  border-bottom-color: #d70;
}
.content-section {
  padding-bottom: 4.8rem;
}
@media screen and (min-width: 768px) {
  .content-section > * {
    max-width: 70rem;
  }
}
.content-section > ul {
  max-width: 100%;
  margin-left: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .content-section > ul {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 2.4rem;
         column-gap: 2.4rem;
  }
}
#site-header,
#site-footer {
  padding: 0 1.2rem;
  background-color: #3a3936;
  background-image: linear-gradient(#474642 25%, #222 100%);
  color: #fff;
}
#site-header a,
#site-footer a {
  color: inherit;
}
#site-identifier {
  font-size: 2.4rem;
  padding-bottom: 0;
  padding-top: 1.2rem;
}
@media screen and (min-width: 768px) {
  #site-identifier {
    font-size: 3.6rem;
  }
}
#site-footer {
  font-size: 1.2rem;
  padding: 1.2rem;
}
#site-footer p {
  padding-bottom: 0;
}
.header-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: stretch;
      align-items: stretch;
  padding-bottom: 1.2rem;
}
.header-inner h1,
.header-inner nav {
  margin-bottom: 2.4rem;
  position: relative;
  -ms-flex: 1 1 100%;
      flex: 1 1 100%;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .header-inner h1,
  .header-inner nav {
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
  }
}
.header-inner h1:last-child,
.header-inner nav:last-child {
  margin-bottom: 0;
}
.header-inner nav {
  -ms-flex-preferred-size: 66.66666667%;
      flex-basis: 66.66666667%;
}
nav ul {
  list-style: none;
  padding-bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1.2rem;
  margin-right: -1.2rem;
}
nav li {
  display: block;
  margin-top: 1.2rem;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
nav a {
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 4.8rem;
  line-height: 4.8rem;
  max-width: 100%;
  transition-property: background-color;
  transition-duration: 0.2s;
  padding: 0 3rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: auto;
  vertical-align: top;
  background-color: #d70;
  color: #fff;
  display: block;
  height: auto;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}
nav a:link,
nav a:visited {
  text-decoration: none;
}
nav a:focus,
nav a:hover,
nav a:active {
  color: #fff;
  background-color: #07a;
}
nav a:focus {
  outline: 1px dotted #3a3936;
}
nav a.active {
  background-color: #07a;
  cursor: default;
}
@media screen and (min-width: 768px) {
  nav ul {
    text-align: right;
    display: block;
    margin: 0;
  }
  nav li {
    display: inline-block;
  }
}
#contact {
  background-color: #07a;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  max-height: 0;
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: max-height, padding;
}
#contact .wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
#contact a {
  display: block;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  color: inherit;
  border-bottom: 1px dashed rgba(255, 255, 255, 0);
  text-decoration: none;
}
#contact a:hover {
  border-bottom-color: #fff;
}
#contact:target {
  max-height: 4.8rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.cv #page-title {
  float: left;
}
.cv .content-section {
  clear: both;
}
#print-contact {
  float: right;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  text-align: right;
}
#print-contact a {
  display: block;
  border-bottom: 0;
}
.project-links {
  background-color: #07a;
  color: #fff;
  padding: 1.2rem 1.2rem;
  float: right;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: end;
      align-items: flex-end;
  width: 19.2rem;
  margin-left: 2.4rem;
  margin-bottom: 2.4rem;
}
.project-links > :last-child {
  padding-bottom: 0;
}
.project-links a {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  font-size: 2rem;
  margin-bottom: 0.6rem;
  color: inherit;
  border-bottom-color: #fff;
}
.project-links a:hover {
  border-bottom: 1px solid #fff;
}
.project-links a.back {
  margin-top: 2.4rem;
  margin-bottom: 0;
  font-size: 1.2rem;
}
.by-the-numbers ul {
  list-style: none;
  margin-left: 0;
}
.by-the-numbers li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 1.2rem;
}
.by-the-numbers strong {
  font-size: 4.8rem;
  -ms-flex-preferred-size: 7.2rem;
      flex-basis: 7.2rem;
  line-height: 1;
  display: block;
  text-align: right;
  margin-right: 1.2rem;
  color: #07a;
}
@media screen and (min-width: 768px) {
  .portfolio #main-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
}
.portfolio .project {
  height: 18rem;
  width: 100%;
  border: 0;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: stretch;
      align-items: stretch;
  background-color: #d70;
  background-size: cover;
  background-position: top center;
  color: #fff;
}
.portfolio .project:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 12px rgba(58, 57, 54, .5);
  box-shadow: inset 0 0 1.2rem rgba(58, 57, 54, .5);
}
@media (min-width: 768px) {
  .portfolio .project {
    height: 24rem;
    width: 40rem;
    max-width: 50%;
  }
}
.portfolio .project img {
  position: absolute;
  width: 100%;
  height: auto;
  transition-duration: 0.3s;
  transition-property: opacity;
  top: 0;
  opacity: 1;
}
.portfolio .project h2 {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  width: 100%;
  padding: 1.2rem 1.2rem;
  text-align: center;
  transition-duration: 0.3s;
  transition-property: padding-bottom, opacity;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2.4rem;
  line-height: 3.6rem;
}
.portfolio .project:hover {
  background-image: none !important;
  opacity: 1;
}
.portfolio .project:hover h2 {
  padding-bottom: 3.6rem;
  opacity: 1;
}
.portfolio .project:hover img {
  opacity: 0.1;
}
.portfolio .project:hover:after {
  box-shadow-color: rgba(58, 57, 54, .2);
}
@media print {
  html {
    font-size: 46.875%;
  }
  *,
  *:before,
  *:after {
    background-color: white !important;
    color: black !important;
    border-color: black !important;
  }
  #site-header,
  #site-footer {
    display: none;
  }
  #main-content a {
    border-bottom: 0;
  }
  #main-content h3 + ul > li {
    margin-bottom: 0.6rem;
  }
  #page-title + .content-section {
    border-top: 1px solid black;
    margin-top: 1.2rem;
    padding-top: 2.4rem;
  }
  h2 {
    break-before: always;
    page-break-before: always;
  }
  #page-title + .content-section > h2,
  .content-section:last-child > h2 {
    break-before: avoid;
    page-break-before: avoid;
  }
}
